*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%!important;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(
    115deg,
    red 30%,
    rgb(248,244,244) 20%
  );
}

.container{
  width: 95%;
  height: 90vh;
  max-height: 90vh;
  margin: auto;
  border-radius: 5px;
  background: url(https://www.nicepng.com/png/detail/312-3124036_pixel-pokeball-quick-ball-pokemon-pixel.png);
  background-repeat: no-repeat;
  background-size: 90% ;
  background-position: 300%;
}

/* LEFT SIDE */
.left-container{
  flex: 1;
  box-shadow: 0px 0px 15px 4px;
  background-color: yellow;
  border-radius: 10px;
}

.pokemon-card-border{
  width: 95%;
  height: 95%;
  max-height: 95%;
  background: linear-gradient(
    0deg,
    white, 
    gray);
  flex-direction: column;
  margin: auto;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

#pokemon-display {
  flex: 5;
  background: url(https://www.serebii.net/pokemonmasters/syncpairs/backgrounds/th/professoroak.jpg);
  background-size: cover;
  border: 2px solid black;
  height: 95%;
  width: 100%;
}
 
#sprite{
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.pokemon-info{
  flex: 0.7;
  width: 100%;
  border: 1px solid black;
  background-color: gray;
  border-radius: 0 0 5px 5px;
}

#pokemon-name, #pokemon-id{
  flex: 1;
  border: 1px solid black;
  font-size: 2em;
}

/* RIGHT SIDE */
.right-container{
  flex: 1;
  flex-direction: column;
}

.input-section{
  flex: 0.1;
  width: 50%;
  margin-bottom: auto;
  border-radius: 5px 5px 0px 0px;
  z-index: 3;
}

.pokemon-stats{
  flex: 0.6;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 0.2em;
  margin-bottom: auto;
} 

.stats-label, .stats-value{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  opacity: 0.96;
}

 /* SET COLOR */
.stats-label{
  background-color: gray;
}

/* SET COLOR */
.stats-value{
  background-color: white;
}

#pokemonType{
  border: 1px solid black;
  /* background-color: gray; */
  height: 1.5em;
  width: auto;
  padding: 3px;
  border-radius: 5px;
}

/* Layout */
.flex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}